@import "tailwindcss";

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
    --primary-color: #3498db;
    text-align: center;
}

.ConditionList{
    display: flex;
    flex-direction: column;
    list-style: none;
}

